<h4>Council</h4><table>

<tbody>
  <tr>
   <td style="text-align:left;"> <img src="images/logos/sanofi.png" alt="" width = "30" height="30">  Andre Couturier </td>
  </tr>
  <tr>
   <td style="text-align:left;"> <img src="images/logos/novo.png" alt="" width = "30" height="30">  Ari Siggaard Knoph </td>
  </tr>
  <tr>
   <td style="text-align:left;"> <img src="images/logos/appsilon.png" alt="" width = "30" height="30">  Damian Rodziewicz </td>
  </tr>
  <tr>
   <td style="text-align:left;"> <img src="images/logos/GSK.png" alt="" width = "30" height="30">  Michael Rimler </td>
  </tr>
  <tr>
   <td style="text-align:left;"> <img src="images/logos/atorus.png" alt="" width = "30" height="30">  Michael Stackhouse </td>
  </tr>
  <tr>
   <td style="text-align:left;"> <img src="images/logos/roche.png" alt="" width = "30" height="30">  Ross Farrugia </td>
  </tr>
  <tr>
   <td style="text-align:left;"> <img src="images/logos/jnj.png" alt="" width = "30" height="30">  Sumesh Kalappurakal </td>
  </tr>
</tbody>
</table></br>