<ul>
    <h3>Executive</h3>
    {{ range .exec }}
        <li>{{ . }}</li>
    {{ end }}
</ul>
<ul>
    <h3>Pharmaverse contributors</h3>
    {{ range .contributors }}
        <li>{{ . }}</li>
    {{ end }}
</ul>
<ul>
    <h3>Website contributors</h3>
    {{ range .website }}
        <li>{{ . }}</li>
    {{ end }}
</ul>
<ul>
    <a href="https://github.com/pharmaverse/pharmaverse/graphs/contributors">
        <img src="https://contrib.rocks/image?repo=pharmaverse/pharmaverse" />
      </a>
</ul>