* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* ensure padding and borders are included in the total width and height */
}

#hexGrid {
display: flex;
flex-wrap: wrap;
width: 90%;
margin: 0 auto;
font-family: 'Raleway', sans-serif;
font-size: 15px;
list-style-type: none;
/* Removed overflow: hidden; to allow content to expand */
}

.hex {
position: relative;
visibility: hidden;
outline: 1px solid transparent; /* fix for jagged edges in FF on hover transition */
}

.hex::after {
content: '';
display: block;
padding-bottom: 86.602%; /* = 100 / tan(60) * 1.5 */
}

.hexIn {
position: absolute;
width: 96%;
padding-bottom: 110.851%; /* = width / sin(60) */
margin: 0 2%;
overflow: visible; /* Changed from hidden to visible to show content */
visibility: hidden;
outline: 1px solid transparent; /* fix for jagged edges in FF on hover transition */
-webkit-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
    -ms-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
        transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
}

.hexIn * {
position: absolute;
visibility: visible;
outline: 1px solid transparent; /* fix for jagged edges in FF on hover transition */
}


/* Remove fixed height from .column to allow it to grow with the content */
.column {
flex: 50%;
padding: 10px;
/* height: 300px; Removed to allow column to grow with content */
}

/* Adjust the .border-left class to ensure it doesn't have a fixed height */
.border-left {
  border-left: 2px solid #ddd;
  padding: 10px;
  margin-top: 2%;
  /* height: 700px; Removed to allow it to grow with content */
  /* You can use min-height if you want a minimum height */
  min-height: 700px;
}
.hexLink {
    display:block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    overflow: hidden;
    -webkit-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
        -ms-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
            transform: skewY(-30deg) rotate3d(0,0,1,60deg);
}

/*** HEX CONTENT **********************************************************************/
.hex img {
  left: -100%;
  right: -100%;
  width: auto;
  height: 100%;
  margin: 0 auto;
  -webkit-transform: rotate3d(0,0,0,0deg);
      -ms-transform: rotate3d(0,0,0,0deg);
          transform: rotate3d(0,0,0,0deg);
}

.hex h5, .hex p {
  width: 100%;
  padding: 5%;
  box-sizing:border-box;
  background-color: #FF0043;
  font-weight: 300;
  -webkit-transition:  -webkit-transform .2s ease-out, opacity .3s ease-out;
          transition:          transform .2s ease-out, opacity .3s ease-out;
}
.hex h5 {
  bottom: 50%;
  padding-top:50%;
  font-size: 1.5em;
  z-index: 1;
  color: azure;
  -webkit-transform:translate3d(0,-100%,0);
      -ms-transform:translate3d(0,-100%,0);
          transform:translate3d(0,-100%,0);
}
.hex h5::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 45%;
  width: 10%;
  text-align: center;
  border-bottom: 1px solid #fff;
}
.hex p {
  top: 50%;
  padding-bottom:50%;
  color: azure;
  -webkit-transform:translate3d(0,100%,0);
      -ms-transform:translate3d(0,100%,0);
          transform:translate3d(0,100%,0);
}


/*** HOVER EFFECT  **********************************************************************/
.hexLink:hover h5, .hexLink:focus h5,
.hexLink:hover p, .hexLink:focus p{
  -webkit-transform:translate3d(0,0,0);
      -ms-transform:translate3d(0,0,0);
          transform:translate3d(0,0,0);
}

/*** HEXAGON SIZING AND EVEN ROW INDENTATION *****************************************************************/
@media (min-width:1201px) { /* <- 5-4  hexagons per row */
  #hexGrid{
    padding-bottom: 4.4%
  }
  .hex {
    width: 20%; /* = 100 / 5 */
  }
  .hex:nth-child(9n+6){ /* first hexagon of even rows */
    margin-left:10%;  /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 1200px) and (min-width:901px) { /* <- 4-3  hexagons per row */
  #hexGrid{
    padding-bottom: 5.5%
  }
  .hex {
    width: 25%; /* = 100 / 4 */
  }
  .hex:nth-child(7n+5){ /* first hexagon of even rows */
    margin-left:12.5%;  /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 900px) and (min-width:601px) { /* <- 3-2  hexagons per row */
  #hexGrid{
    padding-bottom: 7.4%
  }
  .hex {
    width: 33.333%; /* = 100 / 3 */
  }
  .hex:nth-child(5n+4){ /* first hexagon of even rows */
    margin-left:16.666%;  /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 600px) { /* <- 2-1  hexagons per row */
  #hexGrid{
    padding-bottom: 11.2%
  }
  .hex {
    width: 50%; /* = 100 / 3 */
  }
  .hex:nth-child(3n+3){ /* first hexagon of even rows */
    margin-left:25%;  /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 400px) {
    #hexGrid {
        font-size: 13px;
    }
}

p.ex1 {
  font-size: 35px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}


p.ex2 {
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.border-left {
    border-left: 2px solid #ddd;
    padding: 10px;
    margin-top: 2%;
    height: 700px;
}



