.navigation {
  transition: .2s ease;

  &.home-nav {
    transition: unset;
    top: 0 !important;

    &.nav-bg-home {
      @include desktop {
        padding-bottom: 60px;
        top: -60px !important;
      }
    }
  }

  .container {
    padding: 0;

    @include tablet {
      padding: 0 10px;
    }
  }

  .navbar {
    padding: 15px 0;
  }

  &.nav-bg {
    background: $white;
    box-shadow: 0px 5px 20px rgba(62, 62, 62, 0.08) !important;

    @include desktop {
      top: -60px;
    }
    @include mobile {
      top: -50px;
    }
    @include mobile-xs {
      top: -45px;
    }
  }

  .form-inline {
    width: 30%;

    input {
      width: 100%;
      box-shadow: 0px 5px 10px rgba(62, 62, 62, 0.05) !important;
    }
  }

  @include desktop {
    .form-inline {
      width: 100%;
      margin-top: 15px;

      .form-control {
        box-shadow: none !important;
        border: 1px solid $border-color;

        &:focus {
          border: 0;
          box-shadow: 0px 5px 10px rgba(62, 62, 62, 0.05) !important;
        }
      }
    }
  }
}

.language-selector{
  border: 0;
  margin-right: 10px;
}

.search-wrapper {
  position: relative;

  .form-control {
    height: 46px;
    border: 0;
    border-radius: 6px;
    outline: 0;
    @extend .shadow;
    @include mobile {
      height: 40px;
    }

    &:focus {
      @extend .shadow;
    }

    &::placeholder {
      color: $text-color-light;
      font-size: 15px;
    }

    &-lg {
      height: 70px;
    }

    &.active.focus-visible {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  button {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);

    i {
      color: $primary-color;
    }
  }
}

.logo-wrapper {
  display: flex;
  align-items: center;
  margin-right: 10px;
  flex-wrap: nowrap;

  img {
    height: 28px;
    width: auto;
  }

  .site-logo {
    white-space: nowrap;

    .site {
      @include tablet {
        display: none;
      }
    }
  }

  .logo-devider {
    height: 30px;
    width: 3px;
    background-color: $border-color;
    margin: 0 10px;
  }

  .docs-logo {
    margin-top: 2px;
  }
}

.search-sticky {
  position: fixed !important;
  top: 10px;
  z-index: 9999;
  width: 28%;
  left: 37%;

  @include desktop {
    width: calc(100% - 20px);
    max-width: 700px;
    left: 50%;
    transform: translateX(-50%);
  }

  @include tablet {
    max-width: 520px;
  }

  .form-control {
    height: 50px !important;
    box-shadow: 0px 5px 10px rgba(62, 62, 62, 0.05) !important;

    @include desktop {
      box-shadow: none !important;
      border: 1px solid $border-color;

      &:focus {
        border: 0;
      }
    }
    @include mobile {
      height: 40px !important;
    }
  }

  .btn-primary {
    display: none;
  }

  .d-none {
    display: block !important;
  }
}

.mobile-view{
  @include mobile {
    zoom: .8;
  }
  @include mobile-xs {
    zoom: .6;
  }
}