name: github pages

on:
  push:
    branches:
      - main # Set a branch to deploy
      - develop
  schedule:
    - cron: 0 13 * * 1 # At 13:00 on Monday

jobs:
  deploy:
    runs-on: ubuntu-22.04
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - uses: actions/checkout@v4.2.0
        with:
          submodules: true # Fetch Hugo themes (true OR recursive)
          fetch-depth: 0 # Fetch all history for .GitInfo and .Lastmod

      - name: Install curl
        run: sudo apt update && sudo apt-get install -y libcurl4-openssl-dev

      - name: Setup R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: '4.2.0'

      - name: Setup renv
        uses: r-lib/actions/setup-renv@v2
        with:
          cache-version: 2

      # Run R code
      # Rscript scripts/add_contributions.R disabled
      - name: Run scripts
        run: |
          Rscript scripts/add_badges.R
          
        env:
          GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

      - name: Run visualisations
        if: ${{ github.ref == 'refs/heads/main' }}
        run: |
          Rscript scripts/add_hexwall_network.R
        env:
          GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: '0.119.0'
          extended: true

      # IF main
      - name: Build
        if: ${{ github.ref == 'refs/heads/main' }}
        run: hugo --minify

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public

      # IF develop
      - name: Build
        if: ${{ github.ref == 'refs/heads/develop' }}
        run: hugo -e staging

      - name: Deploy to Netlify
        uses: netlify/actions/cli@master
        if: ${{ github.ref == 'refs/heads/develop' }}
        with:
          args: deploy --dir=public --prod # Update 'dist' to your build output folder
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }} # Store this in GitHub secrets
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
